extends layout

block content
    .site-wrapper
      .site-wrapper-inner
        .cover-container
          .masthead.clearfix
            .inner
              h3.masthead-brand
                // we want to add img replace Best Buy
                img.logo(src='main-logo.svg', alt='My_Logo', width='100', height='100')
          .inner.cover
            h1.cover-heading Cover your page.
            p.lead Here will be use to ask question from chatbot
            p.lead Here will be answering question
            hr
            p.lead hint: how to answer the chatbot question
            p.lead
              a.btn.btn-lg.btn-default(href='#') Submit
          .mastfoot
            .inner
              p
                | bestbot for
                a(href='http://getbootstrap.com') BESTBUY