doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    // Bootstrap core CSS
    link(href='../public/stylesheets/bootstrap-3.3.7/docs/dist/css/bootstrap.min.css', rel='stylesheet')
    // IE10 viewport hack for Surface/desktop Windows 8 bug
    link(href='../public/stylesheets/bootstrap-3.3.7/docs/assets/css/ie10-viewport-bug-workaround.css', rel='stylesheet')
    // Custom styles for this template
    link(href='../../public/stylesheets/bootstrap-3.3.7/docs/examples/bestbuy/cover.css', rel='stylesheet')
    // Placed at the end of the document so the pages load faster
    script(src='../public/stylesheets/bootstrap-3.3.7/docs/dist/js/bootstrap.min.js')
    // IE10 viewport hack for Surface/desktop Windows 8 bug
    script(src='../public/stylesheets/bootstrap-3.3.7/docs/assets/js/ie10-viewport-bug-workaround.js')
  body
    block content

